.color-nav {
  background-color: rgb(0,46,93);
  font-family:"Public Sans",Helvetica,Arial,sans-serif; 
  font-size: medium;
}

.navbarspecial {
  text-align: center;
  font-weight: bold;
  font-family:sans-serif ;
  color: white;
  background-color:rgb(0,46,93);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}